body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #1e1e1e, #2f2f2f, #575757);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-attachment: fixed;
}

.container {
  text-align: center;
  max-width: 800px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(12px);
}

h1 {
  margin-bottom: 40px;
  font-size: 2rem;
  color: #fff;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.social-card {
  background: rgba(255, 255, 255, 0.111);
  padding: 20px 25px;
  border-radius: 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  width: 150px;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-card:hover {
  transform: translateY(-5px) scale(1.05);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.social-card img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  /* Hapus filter invert agar warna asli muncul */
  filter: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.892);
  padding: 8px;
}


.social-card span {
  font-size: 1rem;
  font-weight: 600;
}
